*{
    margin-left: 50px;
    margin-right: 40px;
}

nav{
    display: flex;
    justify-content: space-between;
   
}
.sin-btn{
        font-weight: bold;
        color: springgreen;
        padding: 10px;
        border-radius: 5px;
        border: none;
        border: 1px solid springgreen;
        margin-top: 7px;
   }

   nav li a{
    text-decoration: none;
   }

   nav ul li{
    list-style: none;
   }
   .btn{
    background-color: rgb(7, 107, 57);
    color: white;
    padding: 10px;
    border-radius: 7px;
    border: none;
   }

   .head{
    color: rgb(90, 85, 85);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: justify;   

   }
   .border{
    justify-content: 
   }
   .img{
    width: 0px;
    height: px;
   }

 

